In [51]:
import altair as alt
from altair.expr import datum, if_
import pandas as pd
import numpy as np
import streamlit as st
import datetime
from streamlit_plotly_events import plotly_events
import streamlit as st
import plotly.express as px
import pandas as pd

In [52]:
# x = [2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]
# y = [6, 7, 2, 4, 5, 6, 3, 2]
# z = [1, 2, 3, 4, 5, 6, 7, 8]

# demo_df=[]
# demo_df= pd.DataFrame(demo_df)
# demo_df['time']= x
# demo_df['1']= z
# demo_df['2']= y

In [53]:
# print(demo_df.head())

In [54]:
# demo_df['증감'] = demo_df['1']-demo_df['2']
# demo_df

In [55]:
# demo_df.T

In [56]:
# fig = px.bar(demo_df, x= "time", y=["1", "2", "증감"],  title='손익요약_test')
# #https://plotly.com/python/bar-charts/

In [57]:
# fig

In [58]:
@st.cache_data
# 엑셀 파일 읽어오기 함수
def get_data_from_excel():
        df_all = pd.read_excel(
                    io = 'C:/Users/USER/Desktop/test_db/tstdata.xlsx',
                    engine = 'openpyxl',
                    sheet_name ='T',
                    skiprows = 0,
                    usecols='a:L',
        )
        return df_all

get_data_from_excel()
df_all = get_data_from_excel()
pd.options.mode.chained_assignment = None

2024-10-07 18:38:17.256 No runtime found, using MemoryCacheStorageManager
2024-10-07 18:38:17.256 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.264 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.264 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.272 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.280 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.281 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.298 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-10-07 18:38:17.298 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [59]:
df_all.head()

,대분류,중분류,세분류,세세분류,보고반영,기준일,회계연도,전기월,계정코드,계정명,코스트센터내역,금액
0,재무상태,부채,유동부채,미지급금-일반,미지급금,2015-11-01,2015,11,21030101,미지급금_일반,공연,-105064387
1,손익,일반관리비,지급수수료,지급수수료-파견,파견,2015-11-01,2015,11,53311311,지급수수료_용역(인력)_사무직,공연,2345570
2,재무상태,자산,유동자산,부가세대급금,부가세대급금,2015-11-01,2015,11,11490101,부가세대급금_매입세액,공연,9623163
3,손익,인건비,정규직,인건비-정규직,인건비(정규직),2015-11-01,2015,11,51030101,직원급여_정규직_일반급여,공연,3094753
4,손익,인건비,정규직,인건비-정규직,인건비(정규직),2015-11-01,2015,11,51050301,상여_직원_정규직,공연,330931

In [60]:
# df_first = df_all.groupby(['회계연도','전기월','대분류','중분류','세분류','보고반영']).sum('금액')
# df_first.head()

In [61]:
# df_중분류 = df_first.groupby(['회계연도','전기월','중분류']).sum('금액')
# df_중분류.head()

In [62]:
df_손익 = df_all[df_all['대분류'] == '손익']
df_손익.head()

,대분류,중분류,세분류,세세분류,보고반영,기준일,회계연도,전기월,계정코드,계정명,코스트센터내역,금액
1,손익,일반관리비,지급수수료,지급수수료-파견,파견,2015-11-01,2015,11,53311311,지급수수료_용역(인력)_사무직,공연,2345570
3,손익,인건비,정규직,인건비-정규직,인건비(정규직),2015-11-01,2015,11,51030101,직원급여_정규직_일반급여,공연,3094753
4,손익,인건비,정규직,인건비-정규직,인건비(정규직),2015-11-01,2015,11,51050301,상여_직원_정규직,공연,330931
10,손익,일반관리비,복리후생비,복리후생비-4대보험,복리후생비,2015-11-01,2015,11,51151705,복리후생비_법정복리비_국민건강보험,공연,119000
11,손익,일반관리비,복리후생비,복리후생비-4대보험,복리후생비,2015-11-01,2015,11,51151701,복리후생비_법정복리비_국민연금,공연,165600

In [63]:
df_손익 = df_손익.astype({'대분류':'str','중분류':'str', '세분류':'str', '세세분류':'str', '보고반영':'str', '기준일':'str', '회계연도':'str','전기월':'int', '계정코드':'str', '계정명':'str', '코스트센터내역':'str' ,'금액':'int'})

In [64]:
# # df_all_국내_전체 = df_all_국내.groupby(by=["전시명"]).sum()[["관람객"]]
# df_손익_gr = df_손익.groupby(by=['회계연도','전기월','중분류','세분류','보고반영']).sum()[['금액']]
# df_손익_gr = df_손익_gr.reset_index()
# df_손익_gr.head()

In [65]:
# fig2 = px.bar(df_손익_gr, x='회계연도', y='금액',  title='')
# fig2

In [66]:
# df_손익_gr2 = df_손익[df_손익['중분류']=="매출"].groupby(by=['회계연도','전기월','보고반영']).sum()[['금액']]*-1
# df_손익_gr2 = df_손익[df_손익['중분류']=="매출"].groupby(by=['회계연도','보고반영']).sum()[['금액']]*-1
df_손익_gr2 = df_손익[df_손익['중분류']=="매출"].groupby(by=['회계연도']).sum()[['금액']]*-1
df_손익_gr2 = df_손익_gr2.reset_index()
df_손익_gr2 = df_손익_gr2[df_손익_gr2['회계연도'] =='2017']
df_손익_gr2
# df_손익_gr2.head()

   회계연도          금액
2  2017  5607787280

In [67]:
df_손익_gr2 = df_손익[df_손익['중분류']=="매출"].groupby(by=['회계연도','보고반영','전기월']).sum()[['금액']]*-1/1000000
df_손익_gr2 = df_손익_gr2.reset_index()
targets =['2023','2024']
df_손익_gr2 = df_손익_gr2.loc[(df_손익_gr2['회계연도'].isin(targets)) & (df_손익_gr2['전기월']<=7)]
df_손익_gr2

     회계연도  보고반영  전기월          금액
596  2023  광고협찬    1   79.509438
597  2023  광고협찬    2   46.820750
598  2023  광고협찬    3    0.607319
599  2023  광고협찬    4  156.142823
600  2023  광고협찬    5   57.601291
..    ...   ...  ...         ...
753  2024    티켓    3  251.916635
754  2024    티켓    4  216.310826
755  2024    티켓    5  229.343207
756  2024    티켓    6  426.897273
757  2024    티켓    7  223.390528

[114 rows x 4 columns]

In [71]:
df_손익_gr2 = df_손익_gr2.groupby(['회계연도','보고반영'])['금액'].agg(sum).reset_index()
df_손익_gr2 = df_손익_gr2.sort_values('금액',ascending=False)
df_손익_gr2

C:\Users\USER\AppData\Local\Temp\ipykernel_14268\4199991630.py:1: FutureWarning:

The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.

    회계연도  보고반영           금액
11  2024    대관  3699.596238
2   2023    대관  3168.506255
8   2023    티켓  1804.770558
17  2024    티켓  1422.284512
10  2024    기타   964.080898
1   2023    기타   520.872633
0   2023  광고협찬   506.085451
14  2024    이자   315.962519
5   2023    이자   261.016410
12  2024    배당   232.929800
3   2023    배당   231.103300
15  2024  주차임대   160.459306
6   2023  주차임대   153.355872
13  2024   아트샵    90.413783
4   2023   아트샵    64.462717
9   2024  광고협찬    51.314716
16  2024  카페임대    42.334601
7   2023  카페임대    34.875803

In [49]:
fig = px.bar(df_손익_gr2, x= "회계연도", y="금액",  title='')
st.plotly_chart(fig, use_container_width=True)

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['금액'] but received: 회계연도

In [19]:
# con = df_all['중분류']=='매출'
# df_매출 = df_all[con]
# df_매출.head()

In [20]:

# df_매출['금액'].sum()
# https://wikidocs.net/151829
# df_매출

In [21]:
# df_매출 = df_매출.groupby(by=['보고반영','회계연도','전기월']).sum('금액').reset_index()
# df_매출 = df_매출.groupby(['회계연도', '전기월']).agg({'금액':'sum'}).reset_index()
# df_매출

In [22]:
# df_매출 = df_매출.groupby(['회계연도']).agg({'금액':'sum'}).reset_index()
# df_매출

In [23]:
# df_매출 = df_매출.groupby(['회계연도','전기월'])['금액'].agg('sum').reset_index()
# df_매출

In [24]:
# f = alt.Chart(df_all).mark_bar().encode(x='회계연도', y='금액')

In [25]:
# f